---
- block:
  - name: Copy the systemd service and timer files
    template:
      src: "etc/systemd/system/certbot-renew.{{ item }}.j2"
      dest: "/etc/systemd/system/certbot-renew.{{ item }}"
      owner: root
      group: root
      mode: 0644
    with_items:
      - service
      - timer

  - name: Enable the systemd timer
    systemd:
      name: "certbot-renew.timer"
      daemon_reload: yes
      enabled: yes
      state: restarted
  when:
    - certbot_create_certs
    - certbot_plugin == "standalone"
