---
- include_tasks: debian.yml
  when: ansible_os_family == 'Debian'
- name: make port 80 available for certbot standalone to work
  block:
    - name: Stop webserver
      service:
        name: "{{ certbot_webserver_installed }}"
        state: stopped
      ignore_errors: yes

    - name: Check whether port 80 is available
      wait_for:
        port: 80
        state: stopped
        timeout: "{{ certbot_waitfor_port_seconds }}"
  when: certbot_plugin == "standalone"

- name: Create and install cert using {{ certbot_plugin }} plugin
  command: "certbot --{{ certbot_plugin }} {{ (certbot_install_cert) | ternary('','certonly') }} {{ (certbot_redirect_http) | ternary('--redirect','') }} -d {{ certbot_site_names | join(' -d ') }} -m {{ certbot_mail_address }} --agree-tos --noninteractive --text --cert-name {{ certbot_cert_name }}"

- include_tasks: copy-files.yml

- include_tasks: "autorenew-{{ certbot_renew_method }}.yml"

- name: Start webserver
  service:
    name: "{{ certbot_webserver_installed }}"
    state: started
  ignore_errors: yes
  when: certbot_plugin == "standalone"
